* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #515C6F;
}

h1 {
  font-size: 3rem;
  font-weight: 50;
  margin: 1rem 0 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
}

.heading {
  font-weight: 800;
  color: #9f6ea3;
}

label
{
  text-align: left;
  font-size: 15px;
  color: rgb(224, 219, 219);
  font-weight: 600;
  margin-top: 20px;
}

h5
{
  margin-left: 0px;
  margin-bottom: 0px;
  color: #9f6ea3;
}
h3
{
  margin-left: 20px;
  margin-bottom: 20px;
  color: #9f6ea3;
}
select
{
  width: 200px;
  height: 35px;
}
input
{
  height: 35px;
  border:solid 1px;
  border-color: #515C6F;
  border-radius: 6px;
  padding-left: 12px;
  width: 200px;
  
  
}

textarea
{
  height: 75px;
  border:solid 1px;
  border-color: #515C6F;
  border-radius: 6px;
  padding-left: 12px;
  width: 200px;
  
  
}
.main
{
  display: flex;
  flex-direction: row;
  align-content: space-between;

}
.input_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border: solid 1px;
  border-color:  rgb(224, 219, 219);
  border-radius: 6px;
  width: fit-content;
  height: 75vh;
  margin-left: 20px;
  padding: 10px 30px;
  
  
}

.section
{
  display: flex;
  flex-direction: column;
}

.addButton {
  height: 35px;
  width: 145px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: white;
  color: #fff;
 
  background-color: #9f6ea3;
  cursor: pointer;
  margin-top: 25px;
  font-size: 12px;
  font-weight: 600;
  margin-left:30px ;
  
}

.addButton:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
 flex-wrap: wrap;
  margin-top: 0rem;
  margin-left: 5em;
  gap:20px;
}

.listcontainer
{
  list-style-type: none;
}

.itemDetails
{
  display: flex;
  flex-direction: column;
}
.item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #fff;
  height: fit-content;
  font-size: 1.8rem;
  list-style: none;
}

.item_input {
  background: none;
  outline: none;
  color: rgb(255, 255, 255);
  border: none;
  width: 350px;
  font-size: 1.4rem;
}

.delete {
  font-size: 1.4rem;
  margin: 0 0rem;
  font-family: "Bebas Neue", cursive;
  background: none;
  outline: none;
  color: rgb(223, 16, 16);
  border: none;
  cursor: pointer;
}
